<h4 align="center">Recently Commented On Ideas</h4>
<div class="my-area-scroller">
  <% if obj.size > 0 %>
    <% obj.each do |idea| %>
      <div class="well col-md-12 <%= "no-margin" if idea == obj.last %>">
        <%# Alert Notification %>
        <% alerts = current_user.alerts.where(idea: idea, active: 1) %>
        <% if alerts.any? %>
          <div class="alert-text">
            <%= alerts.first.text %>
          </div>
        <% end %>
        <div class="line"></div>
    
        <%# Idea Body %>
        <div class="trix-body idea-scroller">
          <%= link_to idea.text.html_safe, idea_path(idea) %>
        </div>
    
        <%# Idea Details %>
        <p class="idea-details" align="center">
          <small>
            This idea is
            <% if idea.open? %>
              <strong class="open-colour">OPEN</strong>,
              and will close in 
              <%= time_ago_in_words(idea.closing_time) %>.
            <% else %>
              <strong class="closed-colour">CLOSED.</strong>
            <% end %>
            <% if idea.final_verdict != "Undecided" %>
              It has been
              <strong class=
                "<%= idea.final_verdict == 'Escalated' ? "open-colour" : "closed-colour" %>">
                <%= idea.final_verdict.upcase %>.
              </strong>
            <% end %>
            <br>
            This idea was created by
            <strong>
              <%= link_to idea.user.full_name, user_path(idea.user) %>.
            </strong>
          </small>
        </p>
      </div>
    <% end %>
  <% else %>
    <div class='well text-center no-margin'>
      <h3>
        <small>You haven't written any comments at<br>the moment.</small>
      </h3>
    </div>
  <% end %>
</div>