<% if obj.instance_of? Idea %>
  <% idea = obj %>
  <%# ideas/show view %>
  <div class="row well col-md-10 col-md-offset-1">
    <p class="idea-text">
      <%= idea.text %>
    </p>
    <p class="idea-details" align="center">
      <small>Created by <%= idea.user.email %> | Voting Style: <%= idea.voting_style %> | Created <%=   time_ago_in_words(idea.created_at) %> ago | Last updated <%= time_ago_in_words(idea.updated_at) %> ago </small>
    </p>
    <div align="center" class="idea-actions">
      <%= link_to "Edit Idea", edit_idea_path(idea),
                                       class: "btn btn-md btn-warning" %>
      <%= link_to "Delete Idea", idea_path(idea), method: :delete,
                                       class: "btn btn-md btn-danger" %>
    </div>
  </div>
<% else %>
  <% obj.each do |idea| %>
    <%# ideas/index view %>
    <div class="row well col-md-10 col-md-offset-1">
      <p class="idea-text">
        <%= link_to idea.text, idea_path(idea) %>
      </p>
      <p class="idea-details" align="center">
        <small>Created by <%= idea.user.email %> | Voting Style: <%= idea.voting_style %> | Created <%=   time_ago_in_words(idea.created_at) %> ago | Last updated <%= time_ago_in_words(idea.updated_at) %> ago </small>
      </p>
      <div align="center" class="idea-actions">
        <%= link_to "Edit Idea", edit_idea_path(idea),
                                         class: "btn btn-md btn-warning" %>
        <%= link_to "Delete Idea", idea_path(idea), method: :delete,
                                         class: "btn btn-md btn-danger" %>
      </div>
    </div>

  <% end %>
<% end %>
