<% idea = obj %>

<%# SHOW VIEW %>
<div class="row well idea-well col-md-10 col-md-offset-1"><!-- idea -->
  <%# Core details %>
  <div class="core-details">
    This idea is
    <% if idea.open? %>
      <strong class="green">OPEN</strong>,
      and will close in 
      <%= time_ago_in_words(idea.closing_time) %>.
    <% else %>
      <strong class="red">CLOSED.</strong>
      <% if idea.final_verdict != "Undecided" %>
        It has been
        <strong class="<%= idea.final_verdict == 'Escalated' ? "green" : "red" %>">
          <%= idea.final_verdict.upcase %>.
        </strong>
      <% end %>
    <% end %>
    <br>
    This idea was created by
    <strong><%= link_to idea.user.full_name, user_path(idea.user) %></strong>,
    <%= time_ago_in_words(idea.created_at) %> ago.
  </div>

  <%# Idea user menu %>
  <% if idea.user == current_user || current_user.admin? %>
    <div class="dropdown-chevron dropdown">
      <%# Dropdown Button %>
      <a class="dropdown-toggle" href="#" id="dropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
      </a>
      <%# Dropdown Contents %>
      <ul class="dropdown-menu dropdown-menu-right">
        <% if current_user.admin? %>
          <li>
            <%= link_to 'Raw Stats', '#',
                        data: { toggle: "modal", target: '#raw-stats' } %>
          </li> 
          <li role="separator" class="divider"></li>
        <% end %>
        <% if idea.open? || current_user.admin? %>
          <li><%= link_to "Edit Idea", edit_idea_path(idea) %></li>
        <% end %>
        <li>
          <%= link_to "Delete Idea", idea_path(idea), method: :delete,
              data: {confirm: 'Are you sure you want to delete this idea?'} %>
        </li>
      </ul>
    </div>
    
    <%# Advanced Stats Modal %>
    <%= render 'raw_stats' %>
  <% end %>

  <%# Idea body %>
  <div class="trix-body idea-scroller">
    <%= idea.text.html_safe %>
  </div>

  <%# Idea details %>
  <div class="row idea-details" align="center">
    <small>
      <% if idea.open? %>
        <% if idea.created_at != idea.updated_at %>
          This idea was edited
          <%= time_ago_in_words(idea.updated_at) %> ago.<br>
        <% end %>
        <% if !idea.real_time_voting? %>
          Voting results will be revealed when the idea closes.<br>
        <% end %>
      <% else %>
        This idea closed
        <%= time_ago_in_words(idea.closing_time) %> ago.<br>
      <% end %>
      
      <% if Follow.where(user: current_user, idea: idea).any? %>
        You are following this idea, and will receive notifications for it.
      <% else %>
        You aren't following this idea.
      <% end %>
    </small>
  </div><!-- /idea-details -->

  <!-- MODAL BUTTONS -->
  <div align="center" class="modal-btn-group">
    <% if idea.open? %>
      <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
              data-target="#vote-form">
        Vote on this idea
      </button>
    <% end %>
    
    <% if idea.results_viewable? %>
      <button type="button" class="btn btn-info btn-md" data-toggle="modal"
              data-target="#voting-results">
        Voting Results
      </button>
    <% else %>
      <button type="button" class="btn btn-default btn-sm disabled">
        Results currently unavailable
      </button>
    <% end %>
    
    <% if (idea.user == current_user) && idea.final_verdict == "Undecided" %>
      <button type="button" class="btn btn-default btn-md" data-toggle="modal"
              data-target="#decide-verdict">
        <strong>Discard/Escalate</strong>
      </button>
    <% end %>
  </div><!-- /modal buttons -->

  <!-- MODALS -->
  <!-- vote-form modal -->
  <div id="vote-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- Close modal button -->
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h3 align="center" class="modal-title">
            Voting form<br>
            <small>
            Your name
            <strong>will <%= 'not' if !idea.reveal_voter_details? %></strong>
            be displayed.
            </small>
          </h3>
        </div>
        <!-- Voting buttons -->
        <div class="modal-body">
          <%= render 'votes/form', obj: @idea %>
        </div>
      </div><!-- /content -->
    </div>
  </div><!-- /vote-form modal -->

  <!-- voting-results modal -->
  <div id="voting-results" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- Close modal button -->
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h3 align="center" class="modal-title">
            Voting Results
            <% if @idea.open? %>
              <br>
              <small>Results are not final, as voting is still open.</small>
            <% end %>
          </h3>
        </div>
        <div class="modal-body">
          <%= render 'votes/results', obj: @idea %>
        </div>
      </div><!-- /content -->
    </div>
  </div><!-- /voting-results modal -->
  
  <!-- decide-verdict modal -->
  <div id="decide-verdict" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- Close modal button -->
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h3 align="center" class="modal-title">
            Decide Verdict
            <br>
            <small>
              Is this idea worth acting upon?
              <% if idea.open? %>
                <br> 
                This idea will permanently close if you click either of
                these buttons.
              <% end %>
            </small>
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <%# Left side %>
            <div class="col-md-6" align="center">
              <%= form_for(@idea) do |f| %>
                <div class="form-group">
                  <%= f.hidden_field :force_close, value: 1 %>
                  <%= f.hidden_field :final_verdict, value: "Discarded" %>
                  <%= f.submit "Discard", class: 'btn btn-lg btn-danger',
                                          data: {confirm: 'Are you sure?'} %>
                </div>
                <h5>
                  This idea isn't generally considered<br>
                  to be worth following up on.
                </h5>
              <% end %>
            </div>
            <div class="col-md-6 border-left" align="center">
              <%= form_for(@idea) do |f| %>
                <div class="form-group">
                  <%= f.hidden_field :force_close, value: 1 %>
                  <%= f.hidden_field :final_verdict, value: "Escalated" %>
                  <%= f.submit "Escalate", class: 'btn btn-lg btn-primary',
                                           data: {confirm: 'Are you sure?'} %>
                </div>
                <h5>
                  It has been agreed that this idea is going to be actively
                  worked on <br> or implemented. 
                  <!-- This <br> is important, look up typography widows -->
                </h5>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- /content -->
    </div>
  </div><!-- /decide-verdict modal -->
  <!-- /modals -->

</div><!-- /idea -->