<% if obj.instance_of? Idea %>
  <% idea = obj %>

  <%# SHOW VIEW %>
  <div class="row well col-md-10 col-md-offset-1">
    
    <% if idea.user == current_user %>
      <%# Dropdown menu %>
      <div class="top-right dropdown">
        <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <% if idea.open? %>
            <li><%= link_to "Edit Idea", edit_idea_path(idea) %></li>
          <% end %>
          <li><%= link_to "Delete Idea", idea_path(idea),
                                         method: :delete %></li>
        </ul>
      </div>
    <% end %>
    
    <%# Idea body %>
    <div class="side-margins">
      <div class="idea-body">
        <%= idea.text.html_safe %>
      </div>
    </div>
    
    <div class="row idea-details" align="center">
      <small>
        <%# Left meta-details %>
        <div class="col-md-6">
          This idea was created by
          <strong><%= idea.user.full_name.present? ? idea.user.full_name
                                             : idea.user.email %></strong>,
          <%= time_ago_in_words(idea.created_at) %> ago. 
          <br>
          This idea was last changed
          <%= time_ago_in_words(idea.updated_at) %> ago.
          <br>
          This idea is currently
          <strong><%= idea.open? ? 'OPEN' : 'CLOSED' %></strong>.
          <br>
          <% if idea.open? %>
            This idea will close in <%= time_ago_in_words(idea.closing_time) %>.
          <% else %>
            This idea closed about
            <%= time_ago_in_words(idea.closing_time) %> ago.
          <% end %>
          <br>
        </div>
        <%# Right meta-details %>
        <div class="col-md-6">
          This idea's voting style is <%= idea.voting_style %>.
          <br>
          Comments
          <strong>
            ARE <%= 'NOT' if !idea.anonymous_comments? %>
          </strong>
          anonymous.
          <br>
          Votes will be revealed
          <%= idea.real_time_voting? ? 'as they come in'
                                     : 'when the idea closes' %>.
          <br>
          Voter names and vote choices
          <strong>WILL <%= 'NOT' if !idea.reveal_voter_details? %></strong>
          be displayed.
        </div>
      </small>
    </div>
  </div>
<% else %>
  <% obj.each do |idea| %>

    <%# INDEX VIEW %>
    <div class="row well col-md-10 col-md-offset-1">
      <div class="idea-body">
        <%= link_to idea.text.html_safe, idea_path(idea) %>
      </div>
      <p class="idea-details" align="center">
        <small>
          Created by <%= idea.user.email %> | 
          Created <%= time_ago_in_words(idea.created_at) %> ago | 
          Last updated <%= time_ago_in_words(idea.updated_at) %> ago<br>
          Active days: <%= idea.open_days %> | 
          Closing day: <%= idea.closing_time.to_date %> |
          Active? <%= idea.open? ? 'Yes' : 'No' %><br>
          Voting style: <%= idea.voting_style %> | 
          Anonymous comments: <%= idea.anonymous_comments? ? 'On' : 'Off' %> |
          Show votes: <%= idea.real_time_voting? ? 'Yes' : 'No' %> | 
          Anonymous votes: <%= idea.anonymous_comments? ? 'On' : 'Off' %>
        </small>
      </p>
    </div>

  <% end %>
<% end %>
