<% if obj.instance_of? Idea %>
  <% idea = obj %>

  <%# SHOW VIEW %>
  <div class="row well col-md-10 col-md-offset-1">
    <div class="top-right">
      <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
    </div>
    <div class="right-padding">
      <%= idea.text.html_safe %>
    </div>
    <div class="row idea-details" align="center">
      <small>
        <%# Left meta-details %>
        <div class="col-md-6">
          Created by: <%= idea.user.full_name.present? ? idea.user.full_name
                                                       : idea.user.email %>
          <br>
          Voting Style: <%= idea.voting_style %>
          <br>
          Anonymous Comments are <%= idea.anonymous_comments? ? 'on'
                                                              : 'off' %>
          <br>
          Real-time votes are <%= idea.reveal_current_votes? ? 'on'
                                                             : 'off' %>
          <br>
          Voter Details are <%= idea.reveal_voter_details? ? 'on'
                                                           : 'off' %>
        </div>
        <%# Right meta-details %>
        <div class="col-md-6">
          Created <%= time_ago_in_words(idea.created_at) %> ago
          <br>
          Last updated <%= time_ago_in_words(idea.updated_at) %> ago
          <br>
          Exact closing time: <%= idea.closing_time %>
          <br>
          <% if idea.active? %>
            Idea will close in <%= time_ago_in_words(idea.closing_time) %>
          <% else %>
            Idea closed about <%= time_ago_in_words(idea.closing_time) %> ago
          <% end %>
          <br>
          Currently active? <%= idea.active? ? 'Yes' : 'No' %>
        </div>
      </small>
    </div>
	
    <div align="center" class="row idea-actions">
		<% if can? :update, @idea %>
      	<%= link_to "Edit Idea", edit_idea_path(idea),
                                 class: "btn btn-md btn-warning" %>
		<% end %>
		<% if can? :destroy, @idea %>
     	 <%= link_to "Delete Idea", idea_path(idea), method: :delete,
                                  class: "btn btn-md btn-danger" %>
		<% end %>
    </div>
  </div>
<% else %>
  <% obj.each do |idea| %>

    <%# INDEX VIEW %>
    <div class="row well col-md-10 col-md-offset-1">
      <p class="idea-text text-center">
        <%= link_to idea.text.html_safe, idea_path(idea) %>
      </p>
      <p class="idea-details" align="center">
        <small>
          Created by <%= idea.user.email %> | 
          Created <%= time_ago_in_words(idea.created_at) %> ago | 
          Last updated <%= time_ago_in_words(idea.updated_at) %> ago<br>
          Active days: <%= idea.active_days %> | 
          Closing day: <%= idea.closing_time.to_date %> |
          Active? <%= idea.active? ? 'Yes' : 'No' %><br>
          Voting style: <%= idea.voting_style %> | 
          Anonymous comments: <%= idea.anonymous_comments? ? 'On' : 'Off' %> |
          Show votes: <%= idea.reveal_current_votes? ? 'Yes' : 'No' %> | 
          Anonymous votes: <%= idea.anonymous_comments? ? 'On' : 'Off' %>
        </small>
      </p>
      <div align="center" class="idea-actions">
        <%= link_to "Edit Idea", edit_idea_path(idea),
                                         class: "btn btn-md btn-warning" %>
        <%= link_to "Delete Idea", idea_path(idea), method: :delete,
                                         class: "btn btn-md btn-danger" %>
      </div>
    </div>

  <% end %>
<% end %>
