<%# Idea view at top %>
<%= render 'idea', obj: @idea %>

<%# Entire vote and comment section %>
<div class="row col-md-12">
  
  <%# Left side %>
  <div class="col-md-6">
    
    <%# Top left %>
    <%# Voting form, is hidden when idea is closed %>
    <% if @idea.active? %>
      <div class="well col-md-12">
        <%= render 'votes/form', obj: @idea %>
      </div>
    <% end %>
    
    <%# Bottom left %>
    <%# Voting stats %>
    <div class="well col-md-12">
      <%= render 'votes/stats' %>
    </div>
  </div>
  
  <%# Right side %>
	<div align="center" class="col-md-6">
    
    <%# Top right %>
    <%# Comment form, hidden when idea is closed %>
    <% if @idea.active? %>
      <div class="well col-md-12">
        <%= render 'comments/form' %>
      </div>
    <% end %>
    
    <%# Bottom right %>
    <%# Comments %>
		<div class="well col-md-12">
      <% if @idea.comments.count > 1 %>
      
        <% if @idea.closed? %>
          <h6 align="center">
            [ This idea is closed, and can no longer be commented on ]
          </h6>
        <% end %>
  			<h4>Comments</h4>
  			<div class="comment-text">
          <table class="table table-striped">
    				<%= render @idea.comments %>
          </table>
  			</div>
      <% else %>
        <h5>There are no comments! Be the first!</h5>
      <% end %>
		</div>
    
	</div>
</div>
