<!-- <p id="notice"><%= notice %></p> -->
<%= render 'idea', obj: @idea %>

<!-- Show voting form -->
<%= render 'votes/form', obj: @idea %>
<!-- Show voting stats -->
<%= render 'votes/stats' %>


<h4 align="center">
	<div class="col-md-offset-1 col-md-6 comments-container">
		<div class="scroller">
			<div class="row well col-md-10 col-md-offset-1">
				<strong>Comments</strong>
				<p class = "comment-text">
					<%= render @idea.comments %>
				</p>
			</div>
		</div>
	</div>
</h4>




<%= render 'comments/form' %>