<%# Idea view at top %>
<%= render 'idea', obj: @idea %>

<%# Entire vote and comment section %>
<div class="row col-md-12">
  
  <%# Left side %>
  <div class="col-md-6">
    
    <%# Top left %>
    <%# Voting form, is hidden when idea is closed %>
    <% if @idea.open? %>
      <div class="well col-md-12">
        <%= render 'votes/form', obj: @idea %>
      </div>
    <% end %>
    
    <%# Bottom left %>
    <%# Voting stats %>
    <div class="well col-md-12">
      <%= render 'votes/stats' %>
    </div>
  </div>
  
  <%# Right side %>
	<div align="center" class="col-md-6">
    
    <%# Top right %>
    <%# Comment form, hidden when idea is closed %>
    <% if @idea.open? %>
    	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createComment">Create a comment</button>
	
    	<div class="modal fade" id="createComment">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<div class="modal-header">
    					<button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
    					<br>
    					<div class="modal-body">
    				    <div class="well col-md-12">
    				      <%= render 'comments/form' %>
    				    </div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	  <% end %>
    
    <%# Bottom right %>
    <%# Comments %>
		<div class="well col-md-12">
      <% if @idea.comments.count > 0 %>
      
        <% if @idea.closed? %>
          <h6 align="center">
            [ This idea is closed, and can no longer be commented on ]
          </h6>
        <% end %>
  			<h4>Comments</h4>
  			<div class="idea-text">
          <table class="table table-striped">
    				<%= render @idea.comments, data: { toggle: "modal",
                                               target: "#ajax-modal" } %>
          </table>
  			</div>
      <% else %>
        <h5>There are no comments! Be the first!</h5>
      <% end %>
		</div>
    
	</div>
</div>
