<!-- <p id="notice"><%= notice %></p> -->
<%= render 'idea', obj: @idea %>

<!-- Show voting form -->
<%= render 'votes/form', obj: @idea %>
<!-- Show voting stats -->
<%= render 'votes/stats' %>


<h4 align="center">
	<div class="row well col-md-offset-1 col-md-10 comments-container">
		<div class="row well col-md-5 col-md-offset-1">
			<div class="scroller">
			<strong>Comments</strong>
			<p class = "comment-text">
				<%= render @idea.comments %>
			</p>
			</div>
		</div>
		<%= render 'comments/form' %>
	</div>
</h4>

