<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <p>
    <strong>Text:</strong>
    <%= @idea.text %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @idea.user.full_name %>
  </p>
  <p>
    <strong>Voting Style:</strong>
    <%= @idea.voting_style %>
  </p>
  
  <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <%= link_to 'Delete', idea_path(@idea), method: :delete %>

</div>
  
<%= render 'votes/form', obj: @idea %>
<%= render 'votes/stats' %>

	<h3 align="center">
		<div class="col-md-offset-1 col-md-6 vcenter">
			<div class="row well col-md-10 col-md-offset-1">
				<strong>Comments</strong>
				<p class = "comment-text">
					<%= render @idea.comments %>
				</p>
			</div>
		</div>
	</h3>
 
	<h2 align="center">
		<div class="col-md-offset-1 col-md-6 vcenter">
			<div class ="row well col-md-10 col-md-offset-1">
				<strong>Add a comment:</strong>
				<%= render 'comments/form' %>
			</div>
		</div>
	</h2>


