<!-- <p id="notice"><%= notice %></p> -->
<%= render 'idea', obj: @idea %>

<!-- Show voting form -->
<%= render 'votes/form', obj: @idea %>
<!-- Show voting stats -->
<%= render 'votes/stats' %>

<h2>Comments</h2>
<%= render @idea.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
