<!-- <p id="notice"><%= notice %></p> -->
<%= render 'idea', obj: @idea %>

<div class="row col-md-12">
  <%# Whole thing %>
  <div class="col-md-6">
    <%# Left side %>
    <% if @idea.active? %>
      <div class="well col-md-12">
        <%# Top left %>
        <%# Voting form %>
        <%= render 'votes/form', obj: @idea %>
      </div>
    <% end %>
    <div class="well col-md-12">
      <%# Bottom left %>
      <%# Voting stats %>
      <%= render 'votes/stats' %>
    </div>
  </div>
  
	<div align="center" class="col-md-6">
    <%# Right side %>
    
    <div class="well col-md-12">
      <%# Top right %>
      <%= render 'comments/form' %>
    </div>
    
		<div class="well col-md-12">
      <%# Bottom right %>
			<div class="scroller">
  			<h4>Comments</h4>
  			<p class = "comment-text">
  				<%= render @idea.comments %>
  			</p>
			</div>
		</div>
    
    
    
	</div>
  
</div>

