<!-- <p id="notice"><%= notice %></p> -->
<%= render 'idea', obj: @idea %>

<!-- Show voting form -->
<%= render 'votes/form', obj: @idea %>
<!-- Show voting stats -->
<%= render 'votes/stats' %>

	<h3 align="center">
		<div class="col-md-offset-1 col-md-6 comments-container">
			<div class="row well col-md-10 col-md-offset-1">
				<strong>Comments</strong>
				<p class = "comment-text">
					<%= render @idea.comments %>
				</p>
			</div>
		</div>
	</h3>
 
	<h2 align="center">
		<div class="col-md-offset-1 col-md-6 comments-input">
			<div class ="row well col-md-10 col-md-offset-1">
				<strong>Add a comment:</strong>
				<%= render 'comments/form' %>
			</div>
		</div>
	</h2>


