<% if comment.id.present? %>
  <%# Wrapping bubble %>
  <div class="row row-comment">
    <div class="trix-body trix-comment bubble
                <%= 'bubble-yours' if comment.user == current_user %>">

      <%# Comment text %>
      <%= comment.body.html_safe %>
      
      <%# Delete cross in top right corner %>
      <% if comment.user == current_user %>
        <div class="delete-comment-button">
          <%= link_to [comment.idea, comment], method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } do %>
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
      
      <%# Comment sub-text %>
      <div class="comment-sub-text 
                  <%= 'sub-text-yours' if comment.user == current_user %>">
        <small> 
          <% if !@idea.anonymous_comments? %>
            <strong>
              <%# Commenter name (or email) %>
              <%= link_to comment.user.full_name, user_path(comment.user) %>
            </strong> -
          <% end %>
          <%# Comment timestamp %>
          <%= comment.created_at.to_formatted_s(:short) %>
        </small>
      </div>

    </div>
  </div>

<% end %>
