<div class="row">
  <div id="friend-lookup">
    <h3 align="center" class="margin-bottom">Search for Innovators</h3>
    <%= form_tag search_friends_path, remote: true, method: :get,
                                      id: 'friend-lookup-form' do %>
      <div class="row well col-md-10 col-md-offset-1 form-group text-center">
        <div class="col-md-8">
          <%= text_field_tag :search_param, params[:search_param], 
                             placeholder: "First name, Last name or Email",
                             autofocus: true, 
                             class: 'form-control search-box' %>
        </div>
        <div class="col-md-3">
          <%= button_tag(type: :submit, class: "btn btn-primary") do %>
            <i class="fa fa-search"></i> Search
          <% end %>
        </div>
      </div>
    <% end %>
    
    <%= render 'common/spinner' %>
    
    <% if @users %>
      <% if @users.size > 0 %>
        <div id="friend-lookup-results" class="row">
          <table class="table table-striped well text-center results-block">
            <tbody>
              <tr>
                <th colspan="5" class="no-padding">
                  <h4 align="center" class="no-padding">Search Results</h4>
                </th>
              </tr>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Ideas</th>
                <th>Profile</th>
                <th>Subscribe</th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.full_name == user.email ? '-' : user.full_name %>
                  </td>
                  <td><%= user.email %></td>
                  <td><%= Idea.where(user: user).count %></td>
                  <td>
                    <%= link_to "View Profile",
                        user_path(user), class: "btn btn-xs btn-primary" %>
                  </td>
                  <td>
                    <% if current_user.not_friends_with?(user.id) %>
                      <%= link_to "Subscribe",
                          add_friend_path(user: current_user, friend: user),
                          class: "btn btn-xs btn-success", method: :post %>
                    <% else %>
                      <span class="btn btn-xs btn-primary disabled">
                        Already Subscribed
                      </span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="lead col-md-12">
          No people match this search criteria
        </p>
      <% end %>
    <% end %>
    <div id="friend-lookup-errors"></div>
  </div>
</div>
