<div class="row well well-lg col-md-offset-1 col-md-10">
  <h2 align="center" class="no-margin">Editing User Options</h2>

  <%= form_for(@user_options) do |f| %>
    <h3 align="center" class="user-options-heading">
      <em>Default New Idea Options</em>
      <br>
      <small>These settings can tweaked whenever you create an idea</small>
    </h3>
    <br>    
    <div class="row form-group">
      <div class="control-label col-xs-4">
        <%= f.label :voting_style_default, class: 'text-right' %>
      </div>
      <div class="col-xs-2">
        <%= f.select :voting_style_default, 
              options_for_select(
                ['5 Stars', '1-10', 'Binary', 'Fibonacci'],
                @user_options.voting_style_default
              ),
              class: 'select form-control' %>
      </div>
      <div class="col-xs-6">
        <%= render 'ideas/style_explanation' %>
      </div>
    </div>
    
    <div class="row form-check">
      <div class="form-check-label col-xs-4">
        <%= f.label :anonymous_comments_default, 'Anonymous comments', 
                    class: 'text-right' %>
      </div>
      <div class="form-check-input col-xs-2">
        <%= f.check_box :anonymous_comments_default %>
      </div>
      <div class="col-xs-6">
        If on, comments on ideas you create will be anonymous by default.
      </div>
    </div>

    <div class="row form-check">
      <div class="form-check-label col-xs-4">
        <%= f.label :real_time_voting_default, 'Real-time voting',
                    class: 'text-right' %>
      </div>
      <div class="form-check-input col-xs-2">
        <%= f.check_box :real_time_voting_default %>
      </div>
      <div class="col-xs-6">
        If on, votes on ideas you create will be available to view any time
        by default.<br>
        If off, voting results on ideas you create will only become available
        when voting has closed. 
      </div>
    </div>

    <div class="row form-check">
      <div class="form-check-label col-xs-4">
        <%= f.label :reveal_voter_details_default, 'Reveal voter details',
                    class: 'text-right' %>
      </div>
      <div class="form-check-input col-xs-2">
        <%= f.check_box :reveal_voter_details_default %>
      </div>
      <div class="col-xs-6">
        If on, voter names and their vote choices on ideas you create will be
        displayed publicly by default.<br>
        If off, only general voting trends will be displayed.
      </div>
    </div>
    
    <div class="row form-group">
      <div class="col-sm-offset-2 col-xs-4 actions">
        <%= f.submit 'Update Options', class: 'btn btn-md btn-primary'%>
      </div>
    </div>
    
    <h3 align="center" class="no-margin user-options-heading">
      <em>Notification Options</em>
      <br>
      <small>Control what email notifications you receive</small><br>
      <small>(Work in progress)</small>
    </h3>
    <br>

    <div class="row form-group">
      <div class="col-sm-offset-2 col-xs-4 actions">
        <%= f.submit 'Update Options', class: 'btn btn-md btn-primary'%>
      </div>
    </div>
  <% end %>

</div>