<div class=activity>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-asterisk"></span>
    <% if a.trackable %>
      <small class="text-muted"> An existing comment was edited by 
        <%= link_to a.owner.full_name, user_path(a.owner) %>
        <%= time_ago_in_words(a.created_at) %> ago.
      </small>
      <%= a.trackable.body.html_safe %> 
      <small class=text-muted>In the Idea</small>
      <%= link_to a.trackable.idea.text.html_safe, a.trackable.idea %>
    <% else %>
        A Comment was created, however it has since been deleted.
        <small class="text-muted"><%= time_ago_in_words(a.created_at) %> ago.</small> 
    <% end %>
  </li>
</div>