<% @idea = obj %>

<% case @idea.voting_style 
   when 'Binary' %>
     
  <%= form_for([@idea, Vote.new]) do |f| %>
    <div align="center" class="form-group">
      <%= f.submit '0', name: 'value', value: 0, 
                         class: 'btn btn-md btn-danger' %>
      <%= f.submit '1', name: 'value', value: 1,
                         class: 'btn btn-md btn-success' %>

    </div>
  <% end %>

<% when '1-10' %>  
  
  <%= form_for([@idea, Vote.new]) do |f| %>
    <% values = (1..10).to_a %>
    <div align="center" class="form-group">
      <% values.each do |value| %>
        <%= f.submit "#{value}", name: 'value', value: value, 
                                 class: 'btn btn-md btn-info' %>
      <% end %>
    </div>
  <% end %>
  
<% when '5 Stars' %>

  <%= form_for([@idea, Vote.new]) do |f| %>
  
    <% values = (1..5).to_a %>
    <div align="center" class="form-group">
      <% values.each do |value| %>
        <%= f.submit "#{value}", name: 'value', value: value, 
                               class: 'btn btn-md btn-info' %>
                                         
      <% end %>
    </div>
  <% end %>
  
<% when 'Fibonacci' %>

  <%= form_for([@idea, Vote.new]) do |f| %>
    <% values = [1, 2, 3, 5, 8, 13, 21] %>
    <div align="center" class="form-group">
      <% values.each do |value| %>
      <%= f.submit "#{value}", name: 'value', value: value, 
                               class: 'btn btn-md btn-info' %>
                                         
      <% end %>
    </div>
  <% end %>    
<% else %>

  <h2>Unrecognisable voting style, please delete and resubmit your idea.</h2>
  
<% end %>
