<h5 align="center">- Voting Trends -</h5>

<%# Find what voting style is being used and react accordingly %>
<% case @idea.voting_style 
   when 'Binary' %>
   
  <% stats = @idea.binary_voting_stats %>

  <table class="table">
    <tr>
      <th>Vote Value</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Vote Count</th>
      <td><%= stats[2] %></td>
      <td><%= stats[1] %></td>
    </tr>
  </table>
  <div align="center">
    <strong>Overall Idea Score: </strong><%= stats[0].round(2) %>%
  </div>

<% when '1-10' %>

  <% stats =  @idea.one_to_ten_voting_stats %>
  <% values = (1..10).to_a %>
  <div align="center">
    <table class="table">
      <tr>
        <th>Vote value</th>
        <% values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <th>Vote count</th>
        <% values.each do |value| %>
          <td><%= stats[1][value-1] %></td>
        <% end %>
    </table>

    <strong>Overall Idea Score: </strong><%= stats[0].round(2) %>%
  </div>

<% when '5 Stars' %>

  <% stats = @idea.five_stars_voting_stats %>
  <% values = (1..5).to_a %>
  <div align="center">
    <table class="table table-sm">
      <tr>
        <th>Vote value</th>
        <% values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <th>Vote count</th>
        <% values.each do |value| %>
          <td><%= stats[1][value-1] %></td>
        <% end %>
    </table>

    <strong>Average Vote: </strong><%= stats[0].round(2) %>
  </div>

<% when 'Fibonacci' %>

  <% stats = @idea.fibonacci_voting_stats %>
  <% values = [1, 2, 3, 5, 8, 13, 21] %>
  <div align="center">
    <table class="table table-sm">
      <tr>
        <th>Vote value</th>
        <% values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
      <tr>
        <th>Vote count</th>
        <% (0..6).each do |value| %>
          <td><%= stats[1][value] %></td>
        <% end %>
    </table>

    <strong>Total Score: </strong><%= stats[0][0] %><br>
    <% vote_count = @idea.votes.count %>
    <small>
      Minimum Score: <%= vote_count %> - Maximum: <%= vote_count*21 %>
    </small><br>
    <strong>Percent Score: </strong><%= stats[0][1].round(2) %>%
  </div>

<% else %>
  Unrecognisable voting style. This should never happen. 
  Try to delete, then resubmit your idea.
<% end %>