<div class="navbar navbar-default navbar-static-top">
  <div class="container">
	  <%= link_to 'Drive An Idea', root_path, id: 'logo', 
	  class: "navbar-brand" %>
      
  	<% if current_user %> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <!-- Left Navbar -->
        <ul class="nav navbar-nav">
          <li><%= link_to 'New Idea', new_idea_path %></li>
            <li class="dropdown text-right"><!-- Dropdown Idea Menu-->
              <!-- Dropdown Link -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                View Ideas
                <span class="caret"></span>
              </a>
              <!-- Dropdown Content -->
              <ul class="dropdown-menu"> 
                <li><%= link_to 'All Ideas', ideas_path %></li>
                <li><%= link_to 'Open Ideas', open_ideas_path %></li>
                <li><%= link_to 'Closed Ideas', closed_ideas_path %></li>
                <li><%= link_to 'Escalated Ideas', escalated_ideas_path %></li>
                <li><%= link_to 'Discarded Ideas', discarded_ideas_path %></li>
              </ul>
            </li><!-- /dropdown -->
          
          <li><%= link_to 'My Friends', my_friends_path %></li>
        </ul>
        
        <!-- Right Navbar -->
        <ul class ="nav navbar-right col-md-3">
          
          <!-- Dropdown User Menu-->
          <li class="dropdown user-dropdown text-right">
            <!-- Dropdown Link -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class ="fa fa-user"></i>
              <%= current_user.full_name %>
              <span class="caret"></span>
            </a>
            <!-- Dropdown Content -->
            <ul class="dropdown-menu"> 
              <li><%= link_to 'My Ideas', my_ideas_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Edit User Options',
                      edit_user_option_path(current_user.user_option) %></li>
              <li><%= link_to 'Edit Account Details',
                      edit_user_registration_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to 'Log out', destroy_user_session_path,
                                       method: :delete %>
              </li>
            </ul>
          </li><!-- /dropdown -->
          
        </ul>
      </div>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
    <% end %>
  </div>
</div>